<header class="l-header">
    <div class="l-container">
        <div class="l-text-center">
            <a href="@Url.Action("Index", "Home", new { Area = string.Empty })">
                <img src="~/Content/img/logo.png" alt="informator logo" class="l-img-responsive" />
            </a>
        </div>

        @*<div>
                @Html.Partial("_WeatherPartial")
        </div>*@

        <div id="dateTime"></div>
    </div>
</header>