<div class="article">
    <h2 class="article-header">За нас</h2>
    <br />
    <p>
        ИнформаторToday е електронната медия, която предоставя актуалните новини от Северозападна България без никакви пристрастия. За нас истината е на преден план!
    </p>
</div>
