@using NewsSite.Web.ViewModels.Advertisments

@model AdvertismentViewModel

<div class="row text-info text-center ad-container" style="height: 600px;">
    <a href="@Model.Link" target="_blank" name="@Model.Firm">
        <img src="@Url.Action("AdPhoto", "Photo", new { photoId = Model.PhotoId, Area = string.Empty })"
             alt="No image found"
             class="img-responsive"
             style="width: 100%; max-height: 600px; margin:auto" />
    </a>
</div>