@using NewsSite.Web.ViewModels.Articles;

@model ICollection<ArticleListViewModel>

@foreach (var article in Model)
{
    <div class="small-list-item">
        <a href="@Url.Action("Details", "Article", new { id = article.Id })">
            <div>
                <p>@article.Title</p>
                <p class="my-thumbnail-sub-text">
                    <span class="my-comment-icon"></span>
                    <span>@article.CommentsCount</span>
                    <span class="my-eye-icon"></span>
                    <span>@article.ReadersCount</span>
                </p>
            </div>
        </a>
    </div>
}